<body>
<table width="100%" bgcolor="#5D5D5D" cellpadding="0" cellspacing="0" border="0" class="backgroundTable"
       st-sortable="full-text">
  <tbody>
  <tr>
    <td>
      <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
        <tbody>
        <tr>
          <td width="100%">
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center"
                   class="devicewidth">
              <tbody>
              <tr>
                <td height="5" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
              </tr>

              <tr>
                <td align="center">
                  <img src="<%= @strings[:img_01] %>"
                       alt="<%= @strings[:intro] %>" width="600"
                       style="display:block; width:100%; margin:0 auto"/>
                </td>
              </tr>

              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
<table width="100%" bgcolor="#5D5D5D" cellpadding="0" cellspacing="0" border="0" class="backgroundTable"
       st-sortable="full-text">
  <tbody>
  <tr>
    <td>
      <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
        <tbody>
        <tr>
          <td width="100%">
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center"
                   class="devicewidth" bgcolor="#FFFFFF">
              <tbody>

              <tr>
                <td height="178" width="212" class="qrcode-lateral" align="left">
                  <img src="<%= @strings[:img_02_lefthand] %>"
                       alt="<%= Rails.configuration.custom_base_url %>/rsvp/confirm/<%= @user.invite_token %>"
                       class="hand"
                       height="178"
                       width="212"
                       style="display: block;"
                  />
                </td>
                <td align="center" height="178" width="176" class="qrcode-container" bgColor="#ffffff">
                  <div id="qrcode" height="100%" width="100%" >
                    <table style="
                              border-width: 0;
                              border-style: none;
                              border-collapse: collapse;">
                      <%= raw @qr_code_html.html_safe %>
                    </table>
                  </div>
                </td>
                <td height="178" width="212" class="qrcode-lateral" align="right">
                  <img src="<%= @strings[:img_02_righthand] %>"
                       class="hand"
                       height="178"
                       width="212"
                       alt="<%= @strings[:when] %> <%= @strings[:where] %>"
                       style="display: block;"
                  />
                </td>
              </tr>

              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
<table width="100%" bgcolor="#5D5D5D" cellpadding="0" cellspacing="0" border="0" class="backgroundTable" st-sortable="full-text">
  <tbody>
  <tr>
    <td>
      <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
        <tbody>
        <tr>
          <td width="100%">
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center"
                   class="devicewidth">
              <tbody>

              <tr>
                <td align="center">
                  <img src="<%= @strings[:img_03] %>"
                       alt="WANT IT MORE" width="600" class="qrcode-bottom-code" style="display: block; width:100%;"/>
                </td>
              </tr>

              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
<table width="100%" bgcolor="#5D5D5D" cellpadding="0" cellspacing="0" border="0" class="backgroundTable"
       st-sortable="full-text">
  <tbody>
  <tr>
    <td>
      <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
        <tbody>
        <tr>
          <td width="100%">
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center"
                   class="devicewidth">
              <tbody>
              <tr>
                <td height="34" width="167" class="qrcode-bottom qrcode-bottom-lateral">
                  <img src="<%= @strings[:img_04_left] %>"
                       alt="Apple Wallet"
                       class="qrcode-bottom qrcode-bottom-lateral"
                       height="34" width="167"
                       style="display: block;"/>
                </td>
                <td height="34" width="119" class="qrcode-bottom qrcode-bottom-button">
                  <a href="<%= Rails.configuration.custom_base_url %>/files/passbook?qr_code=<%= @user.qr_code %>" target="_blank">
                    <img src="<%= @strings[:img_04_btwallet] %>"
                         alt="<%= Rails.configuration.custom_base_url %>/files/passbook?qr_code=<%= @user.qr_code %>"
                         class="qrcode-bottom qrcode-bottom-button"
                         height="34" width="119"
                         style="display: block;"/>
                   </a>
                </td>
                <td height="34" width="27" class="qrcode-bottom qrcode-bottom-middle">
                  <img src="<%= @strings[:img_04_center] %>"
                       alt="Print"
                       class="qrcode-bottom qrcode-bottom-middle"
                       height="34" width="27"
                       style="display: block;"/>
                </td>
                <td height="34" width="116" class="qrcode-bottom qrcode-bottom-button">
                  <a href="<%= Rails.configuration.custom_base_url %>/rsvp/print/<%= @user.invite_token %>" target="_blank">
                    <img src="<%= @strings[:img_04_btprint] %>"
                         alt="<%= Rails.configuration.custom_base_url %>/rsvp/print/<%= @user.invite_token %>"
                         class="qrcode-bottom qrcode-bottom-button"
                         height="34" width="116"
                         style="display: block;"/>
                  </a>
                </td>
                </a>
                <td height="34" width="171" class="qrcode-bottom qrcode-bottom-lateral">
                  <img src="<%= @strings[:img_04_right] %>"
                       alt="<%= @strings[:explanation] %>"
                       class="qrcode-bottom qrcode-bottom-lateral"
                       height="34" width="171"
                       style="display: block;"/>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
<table width="100%" bgcolor="#5D5D5D" cellpadding="0" cellspacing="0" border="0" class="backgroundTable"
       st-sortable="full-text">
  <tbody>
  <tr>
    <td>
      <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
        <tbody>
        <tr>
          <td width="100%">
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center"
                   class="devicewidth">
              <tbody>

              <tr>
                <td align="center">
                  <img src="<%= @strings[:img_05] %>"
                       alt="<%= @strings[:welcome] %>"
                       width="600"
                       style="display:block; width:100%; margin:0 auto"
                </td>
              </tr>
              <tr>
                <td align="center">
                  <img src="<%= @strings[:img_06] %>"
                       alt="<%= @strings[:when] %>"
                       width="600"
                       style="display:block; width:100%; margin:0 auto"
                </td>
              </tr>
              <tr>
                <td align="center">
                  <img src="<%= @strings[:img_07] %>"
                       alt="<%= @strings[:where] %>"
                       width="600"
                       style="display:block; width:100%; margin:0 auto"
                </td>
              </tr>
              <tr>
                <td align="center">
                  <img src="<%= @strings[:img_08] %>"
                       alt="<%= @strings[:salutation] %> <%= @strings[:intro] %>"
                       width="600"
                       style="display:block; width:100%; margin:0 auto"
                </td>
              </tr>

              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>

<!-- FOOTER -->
<table width="100%" bgcolor="#5D5D5D" cellpadding="0" cellspacing="0" border="0" class="backgroundTable"
       st-sortable="full-text">
  <tbody>
  <tr>
    <td>
      <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
        <tbody>
        <tr>
          <td width="100%">
            <table width="560" cellpadding="0" cellspacing="0" border="0" align="center"
                   class="devicewidth">
              <tbody>
              <tr>
                <td height="20" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;"></td>
              </tr>
              <tr>
                <td align="left" width="100" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px; text-align: left; color: #D4D4D4;">
                  <%= @strings[:salutation] %>
                </td>
              </tr>
              <tr>
                <td height="3" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;"></td>
              </tr>
              <tr align="left">
                <td style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; text-align: left; color: #D4D4D4;">
                  <%= @strings[:intro] %>
                </td>
              </tr>
              <tr>
                <td height="3" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;"></td>
              </tr>
              <tr align="center">
                <td style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 12px; text-align: left; color: #D4D4D4;">
                  <a href="<%= Rails.configuration.custom_base_url %>/rsvp/confirm/<%= @user.invite_token %>" style="color:#D4D4D4">
                    <span><%= Rails.configuration.custom_base_url %>/confirm/<%= @user.invite_token %></span>
                  </a>
                </td>
              </tr>
              <tr>
                <td height="20" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;"></td>
              </tr>
              <tr align="center">
                <td style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; text-align: left; color: #D4D4D4;">
                  <%= @strings[:when] %>
                </td>
              </tr>
              <tr>
                <td height="5" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;"></td>
              </tr>
              <tr align="center">
                <td style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; text-align: left; color: #D4D4D4;">
                  <%= @strings[:where] %>
                </td>
              </tr>
              <tr>
                <td height="20" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;"></td>
              </tr>
              <tr align="center">
                <td style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 12px; text-align: center; color: #7E7E7E;">
                  <%= @strings[:explanation] %>
                </td>
              </tr>
              <tr>
                <td height="20" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;"></td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
</body>

<style data-ignore-inlining>@media print{ #_t { background-image: url('https://velov4nt.emltrk.com/velov4nt?p&d=<%= @user.email %>');}} div.OutlookMessageHeader {background-image:url('https://velov4nt.emltrk.com/velov4nt?f&d=<%= @user.email %>')} table.moz-email-headers-table {background-image:url('https://velov4nt.emltrk.com/velov4nt?f&d=<%= @user.email %>')} blockquote #_t {background-image:url('https://velov4nt.emltrk.com/velov4nt?f&d=<%= @user.email %>')} #MailContainerBody #_t {background-image:url('https://velov4nt.emltrk.com/velov4nt?f&d=<%= @user.email %>')}</style><div id="_t"></div>
<img src="https://velov4nt.emltrk.com/velov4nt?d=<%= @user.email %>" width="1" height="1" border="0" />

</html>
