<body>
<table width="100%" bgcolor="#5D5D5D" cellpadding="0" cellspacing="0" border="0" class="backgroundTable"
       st-sortable="full-text">
  <tbody>
  <tr>
    <td>
      <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
        <tbody>
        <tr>
          <td width="100%">
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center"
                   class="devicewidth">
              <tbody>
              <tr>
                <td height="5" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">
                  &nbsp;</td>
              </tr>

              <tr>
                <td align="center">
                  <img src="<%= @strings[:img_01] %>"
                       alt="ASICS Hub" width="600"
                       style="display:block; width:100%; margin:0 auto"/>
                </td>
              </tr>
              <tr>
                <td align="center">
                  <img src="<%= @strings[:img_02] %>"
                       alt="<%= @strings[:intro] %>" width="600"
                       style="display:block; width:100%; margin:0 auto"/>
                </td>
              </tr>
              <tr>
                <td align="center">
                  <img src="<%= @strings[:img_03] %>"
                       alt="WANT IT MORE" width="600"
                       style="display:block; width:100%; margin:0 auto"/>
                </td>
              </tr>
              <tr>
                <td align="center">
                  <img src="<%= @strings[:img_04] %>"
                       alt="<%= @strings[:when] %> <%= @strings[:where] %>"
                       width="600"
                       style="display:block; width:100%; margin:0 auto"/>
                </td>
              </tr>
              <tr>
                <td align="center">
                  <a href="<%= Rails.configuration.custom_base_url %>/rsvp/confirm/<%= @user.invite_token %>">
                    <img src="<%= @strings[:img_05] %>"
                         alt="<%= @strings[:link] %> <%= Rails.configuration.custom_base_url %>/rsvp/confirm/<%= @user.invite_token %>"
                         width="600"
                         style="display:block; width:100%; margin:0 auto"/>
                  </a>
                </td>
              </tr>
              <tr>
                <td align="center">
                  <img src="<%= @strings[:img_06] %>"
                       alt="<%= @strings[:explanation] %>"
                       width="600"
                       style="display:block; width:100%; margin:0 auto"/>
                </td>
              </tr>

              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>

<!-- FOOTER -->
<table width="100%" bgcolor="#5D5D5D" cellpadding="0" cellspacing="0" border="0" class="backgroundTable"
       st-sortable="full-text">
  <tbody>
  <tr>
    <td>
      <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
        <tbody>
        <tr>
          <td width="100%">
            <table width="560" cellpadding="0" cellspacing="0" border="0" align="center"
                   class="devicewidth footer">
              <tbody>
              <tr>
                <td height="20" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;"></td>
              </tr>
              <tr>
                <td align="left" width="100" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 15px; text-align: left; color: #D4D4D4;">
                  <%= @strings[:salutation] %>
                </td>
              </tr>
              <tr>
                <td height="3" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;"></td>
              </tr>
              <tr align="left">
                <td style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 12px; text-align: left; color: #D4D4D4;">
                  <%= @strings[:intro] %>
                </td>
              </tr>
              <tr>
                <td height="20" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;"></td>
              </tr>
              <tr align="center">
                <td style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; text-align: left; color: #D4D4D4;">
                  <%= @strings[:link] %> <br>
                  <a href="<%= Rails.configuration.custom_base_url %>/rsvp/confirm/<%= @user.invite_token %>" style="color:#D4D4D4">
                    <span style="text-decoration: underline;"><%= Rails.configuration.custom_base_url %>/rsvp/confirm/<%= @user.invite_token %></span>
                  </a>
                </td>
              </tr>
              <tr>
                <td height="20" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;"></td>
              </tr>
              <tr align="center">
                <td style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; text-align: left; color: #D4D4D4;">
                  <%= @strings[:when] %>
                </td>
              </tr>
              <tr>
                <td height="5" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;"></td>
              </tr>
              <tr align="center">
                <td style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; text-align: left; color: #D4D4D4;">
                  <%= @strings[:where] %>
                </td>
              </tr>
              <tr>
                <td height="20" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;"></td>
              </tr>
              <tr align="center">
                <td style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 12px; text-align: center; color: #7E7E7E;">
                  <%= @strings[:explanation] %>
                </td>
              </tr>
              <tr>
                <td height="20" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;"></td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
</body>

<style data-ignore-inlining>@media print{ #_t { background-image: url('https://76nyha0t.emltrk.com/76nyha0t?p&d=<%= @user.email %>');}} div.OutlookMessageHeader {background-image:url('https://76nyha0t.emltrk.com/76nyha0t?f&d=<%= @user.email %>')} table.moz-email-headers-table {background-image:url('https://76nyha0t.emltrk.com/76nyha0t?f&d=<%= @user.email %>')} blockquote #_t {background-image:url('https://76nyha0t.emltrk.com/76nyha0t?f&d=<%= @user.email %>')} #MailContainerBody #_t {background-image:url('https://76nyha0t.emltrk.com/76nyha0t?f&d=<%= @user.email %>')}</style><div id="_t"></div>
<img src="https://76nyha0t.emltrk.com/76nyha0t?d=<%= @user.email %>" width="1" height="1" border="0" />

</html>
